@page
@using Microsoft.Extensions.Localization
@using ModuleB.Localization
@using ModuleB.Web.Pages.ModuleB
@model ModuleB.Web.Pages.ModuleB.IndexModel
@inject IStringLocalizer<ModuleBResource> L

@{
}
<h1>ModuleB</h1>
<p>@L["SamplePageMessage"]</p>
