@page
@using Microsoft.Extensions.Localization
@using ModuleC.Localization
@using ModuleC.Web.Pages.ModuleC
@model ModuleC.Web.Pages.ModuleC.IndexModel
@inject IStringLocalizer<ModuleCResource> L

@{
}
<h1>ModuleC</h1>
<p>@L["SamplePageMessage"]</p>
